#{extends 'main.html' /}
#{set title:'Report' /}
#{set activepage:'Report' /}
#{include 'nav.html' /}

<section class="ui segment">   
  <h4>Define the region for which you require a report</h4>
  <form action="/Report/generateReport" method="POST">    
    Size and position circle to select region for report 
    <div id="map_canvas"></div>
    <br>
    <button type="submit" class="ui blue submit button" onclick="requestReport()">Generate Report</button>
    <div style="visibility: hidden" name="circledata" id="circledata">
      <input type="text"  id="radius" name="radius">
      <input type="text"  id="latcenter" name="latcenter">
      <input type="text"  id="lngcenter" name="lngcenter">
    </div>
  </form>
</section>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="@{'/public/javascripts/reportmap.js'}" type="text/javascript" charset="${_response_encoding}"></script> 