 #{extends 'main.html' /}
 #{set title:'Welcome' /} 
 #{set activepage:'Welcome' /}
 #{include 'nav.html' /}

<div class="ui segment">
	<img class="ui small centered floated image"
		src="/public/images/myrent.png">
	<h1>Welcome to MyRent</h1>
	<h2>Your guide to residential property</h2>
</div>

<div class="ui left aligned blue tertiary compact segment">
	<p>The 2004 Residential Tenancies act gives every landlord and
		tenant a right to rent review once</p>
	<p>each year</p>

	<p>The act makes it illegal for a landlord to charge a rent higher
		than the market rent.
	<p>If there is a dispute about the market rent, either the landlord
		or a tenant can take a case to the</p>
	<p>Private Residential Tenancies Board(thePTRB)</p>
	<p>The problem with this system is in establishing an objective way
		of determining the market rent of</p>
	<p>a property.</p>
	<p>
		The purpose of <i>MyRent</i> is to gather information on rents from
		landlords and tenants and allow any
	</p>
	<p>registered user to generate a report on the state of the rental
		market.</p>
	<p>The success of the project will depend on the willingness of
		tenants and landlords to provide</p>
	<p>information about their properties.</p>
	<p>
		<a href="/login"> Log in </a> or <a href="/signup"> create a new
			account</a> and input your details on the Input data page.
	</p>
	<p>To provide the required information will take just few minutes
		of your time.</p>

</div>