#{extends 'main.html' /} 
#{set title:'InputData' /} 
#{set activepage:'InputData' /}
#{include 'nav.html' /}


	<section class="ui segment">
		<form class="ui form" >
			<p>Please input residence data</p>
			<div class="ui two column grid">
				<div class="column">
					<div class="ui fluid form segment">
						<label>Location </label>
						<!-- <input type="text" id="geolocation" name="residence.geolocation" value="53.347298,-6.268344" readonly class="input-medium">   -->
						<div class="ui input">
							<input id="geolocation" value="53.347298,-6.268344"
								name="residence.geolocation" type="text" readonly>
						</div>
					</div>
					<!--   Residence rented or vacant? -->
					<div class="ui fluid form segment">
						<!-- Rented or vacant? -->
						<div class="ui form">
							<div class="grouped inline fields">
								<div class="field">
									<label class="radio"> <input type="radio"
										name="residence.rented" value="rented" checked="checked">
										Rented
									</label>
								</div>
								<div class="field">
									<label class="radio"> <input type="radio"
										name="residence.rented" value="vacant"> Vacant
									</label>
								</div>

							</div>
						</div>
					</div>
					<!--   The monthly rent  -->
					<div class="ui two column grid">
						<div class="column">
							<div class="ui fluid form segment">
								<!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
								<div class="ui labeled input">
									<div class="ui label">Monthly rent (&euro;)</div>
									<input value="1500" name="residence.rent" type="text" size=1em>
								</div>
							</div>
						</div>
						<!--   The number of bedrooms  -->
						<div class="column">
							<div class="ui fluid form segment">
								<!-- <label class="control-label"> Rent per calendar month(&euro;): </label>  -->
								<div class="ui labeled input">
									<div class="ui label">Number bedrooms:</div>
									<input value="3" name="residence.numberBedrooms" type="text"
										size=1em>
								</div>
							</div>
						</div>
					</div>
					<!--   The residence type  -->
					<div class="ui fluid form segment">
          <div class="ui selection dropdown">
            <input name="residence.residenceType" type="hidden">
            <div class="text">Residence type</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="flat">Apartment|Flat</div>
              <div class="item" data-value="studio">Studio</div>
              <div class="item" data-value="house">House</div>
            </div>
          </div> 
        </div>				
					<!--   Submit form button  -->
					<div class="ui fluid form segment">
							<div id="notification"></div>
						</div>
					 <div class="form-actions">
          <div class="ui blue submit button">Submit Data <i class="add icon"></i></div>
          <div class="ui error message"></div>
        </div>
      </div>		
				<!-- end first column -->
				<!-- The map representing residence location -->
				<div class="column">
					<div class="ui raised fluid form segment">
						<div id="map_canvas"></div>
						<script
							src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
						<script src="@{'/public/javascripts/map.js'}"
							type="text/javascript" charset="${_response_encoding}"></script>
					</div>
				</div>
				<!-- 2nd column -->

				<!-- class ui two column grid -->
		</form>
	</section>
	<script src="@{'/public/javascripts/inputdata.js'}"
		type="text/javascript" charset="${_response_encoding}"></script>
	<!-- <script>$('.ui.dropdown').dropdown();</script>
<script>$('.ui.checkbox').checkbox();</script> -->