#{extends 'main.html' /}
#{set title:'MyRent' /}

<nav class="ui inverted blue menu">
  #{if activePage=='home'} 
    <a class="ui item active" href="/">Welcome</a>
  #{/if} #{else}
    <a class="ui item" href="/"> Welcome</a>
  #{/else}
  #{if activePage=='signup'} 
    <a class="ui item active" href="/signup"> Sign Up</a>
  #{/if} #{else}
    <a class="ui item" href="/signup"> Sign Up</a>
  #{/else}
  #{if activePage=='login'} 
    <a class="ui active item" href="/login"> Log in </a>
  #{/if} #{else}
    <a class="item" href="/login"> Log in</a>
  #{/else}
  #{if activePage=='InputData'} 
    <a class="ui active item" href="/InputData"> Input data </a>
  #{/if} #{else}
    <a class="item" href="/InputData"> Input data </a>
  #{/else}
  #{if activePage=='Report'} 
    <a class="ui active item" href="/Report"> Report </a>
  #{/if} #{else}
    <a class="item" href="/Report"> Report </a>
  #{/else}
  #{if activePage=='Contact'} 
    <a class="ui active item" href="/contact"> Contact </a>
  #{/if} #{else}
    <a class="item" href="/contact"> Contact</a>
  #{/else}
  #{if activePage=='logout'} 
    <a class="ui active item" href="/logout"> Log out </a>
  #{/if} #{else}
    <a class="item" href="/logout"> Log out</a>
  #{/else}
  
</nav>