#{extends 'main.html' /} 
#{set title:'Welcome' /} 
#{set activepage:'Welcome' /}
 #{include 'nav.html' /}
<p>Welcome</p>
<p>
	<a href="/login"> Log in </a> or <a href="/signup"> create a new
		account</a>
</p>