#{extends 'main.html' /} 
#{set title:'Login to' /}
 #{include 'nav.html'/}

<section class="ui form segment">
	<form action="/authenticate" method="POST">
		<h2>Log into your account</h2>
		<h3>Your username is the email you registered with</h3>
		<div class="control-group">
			<div class="controls">
				<label class="control-label"><i class="mail icon"></i>
					Email: </label> <input type="text" name="email"> <label
					class="control-label"><i class="lock icon"></i> Password: </label>
				<input type="password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</div>
	</form>