#{extends 'main.html' /}
#{set title:'Signup' /}
#{include 'nav.html' /}

<section class="ui form segment">
	<form action="/register" method="POST">
		<h2>Create a MyRent account</h2>
		<h3>Register using a valid email address</h3>
		<div class="control-group">
			<div class="controls">
				<label class="control-label"> First Name: </label> <input
					type="text" name="firstName"> <label class="control-label">
					Last Name: </label> <input type="text" name="lastName"> <label
					class="control-label"><i class="mail icon"></i> Email: </label> <input
					type="text" name="email"> <label class="control-label"><i
					class="lock icon"></i> Password: </label> <input type="text"
					name="password"> <label> <input type="checkbox"
					name="submit"> I agree to the terms and conditions
				</label>
			</div>
			<button type="submit" class="btn btn-primary">submit</button>
		</div>
	</form>